version: '2'
services:

  # The wildfly running in the domain mode container
  hawkfly-domain-small:
    image: "jkremser/hawkfly-domain-small:{{wfDomainVersion}}"
    ports:
      - "8081:8080"
      - "9991:9990"
    links:
      - hawkular
    environment:
      - WAIT_SECONDS=10

  # The hawkular-services container
  hawkular:
    image: "hawkular/hawkular-services:{{hawkVersion}}"
    ports:
      - "8080:8080"
      - "8443:8443"
      - "9990:9990"
    links:
      - cassandra
    volumes:
      - /tmp/opt/hawkular:/opt/data
    environment:
      - HAWKULAR_BACKEND=remote
      - CASSANDRA_NODES=cassandra
      - HAWKULAR_USER={{hawkularUsername}}
      - HAWKULAR_PASSWORD={{hawkularPassword}}
      - HAWKULAR_USE_SSL={{ssl}}

  # The Cassandra container
  cassandra:
    image: cassandra:{{cassandraVersion}}
    environment:
      - CASSANDRA_START_RPC=true
