version: '2'
services:

  # set up the wildfly in domain mode with embedded hawkular-agent
  hawkfly-domain-default:
    image: "hawkular/wildfly-hawkular-agent-domain:{{wfDomainVersion}}"
    ports:
      - "8081:8080"
      - "9991:9990"
    links:
      - hawkular
    command: bash -c "sleep 30 && /opt/jboss/wildfly/bin/domain.sh -b 0.0.0.0"

  # The hawkular-server
  hawkular:
    image: "hawkular/hawkular-services:{{hawkVersion}}"
    ports:
      - "8080:8080"
      - "8443:8443"
      - "9990:9990"
    links:
      - myCassandra
    volumes:
      - /tmp/opt/hawkular:/opt/data
    environment:
      - HAWKULAR_BACKEND=remote
      - CASSANDRA_NODES=myCassandra
      - HAWKULAR_USER={{hawkularUsername}}
      - HAWKULAR_PASSWORD={{hawkularPassword}}
      - HAWKULAR_USE_SSL={{ssl}}

  # The used Cassandra container
  myCassandra:
    image: cassandra:{{cassandraVersion}}
    environment:
      - CASSANDRA_START_RPC=true
