# set up the wildfly with embedded hawkular-agent
hawkfly:
  image: "pilhuhn/hawkfly:{{wfStandaloneVersion}}"
  #ports:
  #  - "8081:8080"
  links:
    - hawkular
# The hawkular-server
hawkular:
  image: "jkremser/hawkular-services:0.33.0.Final-fix"
  ports:
    - "8080:8080"
    - "8443:8443"
    - "9990:9990"
  links:
    - myCassandra
  environment:
    - HAWKULAR_BACKEND=remote
    - CASSANDRA_NODES=myCassandra
# The used Cassandra container
myCassandra:
  image: cassandra:{{cassandraVersion}}
  environment:
    - CASSANDRA_START_RPC=true
