version: '2'
services:

  # The wildfly running in the domain mode container (master)
  hawkfly-domain-mixed-master:
    image: "jkremser/hawkfly-domain-mixed:{{wfDomainVersion}}"
    ports:
      - "8081:8080"
      - "9991:9990"
    links:
      - hawkular
    environment:
      - WAIT_SECONDS=25

  # The wildfly running in the domain mode container (slave)
  hawkfly-domain-mixed-slave:
    image: "jkremser/hawkfly-domain-slave-base:{{wfDomainVersion}}"
    links:
      - hawkfly-domain-mixed-master
    environment:
      - DOMAIN_CONTROLLER_HOST=hawkfly-domain-mixed-master
      - DOMAIN_CONTROLLER_PORT=9990
      - SERVERS=ha-group=1,normal-group=1

  # The hawkular-services container
  hawkular:
    image: "hawkular/hawkular-services:{{hawkVersion}}"
    ports:
      - "8080:8080"
      - "8443:8443"
      - "9990:9990"
    links:
      - cassandra
    environment:
      - HAWKULAR_BACKEND=remote
      - CASSANDRA_NODES=cassandra

  # The Cassandra container
  cassandra:
    image: cassandra:{{cassandraVersion}}
    environment:
      - CASSANDRA_START_RPC=true
